<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer">
            <div class="upper">
                <div class="footerlogo">
                    <a href="#" style="width: 200px; height: 57px"><img src="static\images\logo.png" height="60px"
                            alt="Logo" /></a>
                </div>
                <div class="submenu">
                    <a href="#">About us</a>
                    <a href="#">Contact us</a>
                    <a href="#">FAQs</a>
                    <a href="#">Support</a>
                    <a href="#">Blog</a>

                </div>
            </div>
            <div class="line"></div>
            <div class="lower">
                <div>
                    <p>© 2023 FoodFit. All rights reserved.</p>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <p>Privacy Policy</p>
                    <p>Terms and Conditions</p>
                    <p>Cookie Policy</p>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>