{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="hero">
    <div class="head">
      <div class="headline">
        <p>Empowering Heart Health with ML Predictions</p>
      </div>
      <div class="subline">
        Welcome to HeartGuard, your ML-powered watchdog for predicting heart
        disease. With algorithms and cutting-edge technology, we provide
        accurate and timely predictions to help you take control of your heart
        health.
      </div>
    </div>
    <div>
      <img src="{{ url_for('static', filename='/images/hero.png') }}" alt="" />
    </div>
  </div>
  <!-- goal part 1 -->
  <div class="goal">
    <div>
      <img src="{{ url_for('static', filename='/images/Group.png') }}" alt="" />
    </div>
    <div class="sideB">
      <div class="maintext">
        <h1>
          Revolutionary ML Technology Predicts Heart Disease with Unmatched
          Accuracy
        </h1>
        <p>
          HeartGuard utilizes cutting-edge ML technology to analyze various
          health parameters and provide accurate predictions on the likelihood
          of heart disease. With HeartGuard, you can take control of your heart
          health and make informed decisions to prevent potential risks.
        </p>
      </div>
    </div>
  </div>
  <!-- goal part 2 -->
  <div class="goal">
    <div class="sideB">
      <div class="maintext">
        <h3 style="margin: 10px 2px;">Empowering Heart Health</h3>
        <h1 style="margin: 0%;">Monitor Your Heart Health with HeartGuard</h1>
        <p>
          HeartGuard is your ML-powered watchdog that helps predict heart
          disease. With advanced algorithms and real-time monitoring, you can
          take control of your heart health and make informed decisions to
          prevent potential risks. Stay proactive and stay healthy with
          HeartGuard.
        </p>
      </div>
    </div>
    <div>
      <img src="{{ url_for('static', filename='/images/object.png') }}" alt="" />
    </div>
  </div>
  <!-- extra -->
  <div class="extra">
    <div class="extrapartA">
      <img src="{{ url_for('static', filename='/images/heartdoc.png') }}" alt="" />
      <h2>Discover Your Heart Health Risk Today</h2>
      <p>HeartGuard uses AI technology to predict your risk of heart disease.</p>
    </div>
    <div class="extrapartA">
      <img src="{{ url_for('static', filename='/images/heartfit.png') }}" alt="" />
      <h2>Receive Your Heart Health Prediction Instantly</span></h2>
      <p>Get your personalized heart health prediction report within seconds.</p>
    </div>
  </div>
  <!-- control -->
  <div class="control">
    <div class="head">
      <div class="headline">
        <p>Take control of your heart</p>
      </div>
      <div class="subline">
        Fill out the form below to check your heart disease risk
      </div>
    </div>
    <div class="buttons">
     <button class="check"><a href="{{ url_for('predict_disease') }}" style="color: white; text-decoration: none;">Check</a></button>
     <button class="more"><a style="color: black; text-decoration: none;" href="https://www.mayoclinic.org/diseases-conditions/heart-attack/symptoms-causes/syc-20373106">Learn More</a></button>
    </div>
  </div>
</div>
{% endblock content %}