<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predictor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/nav.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

</head>
<body>
   {% include 'nav.html' %}
<div class="container">
<form action="{{ url_for('predict_disease') }}" method="post" class="formcontent">
  <h1 style="
                text-align: center;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                font-family: sans-serif;
              ">
    Predictor
  </h1>
  <label for="gender" style="margin-top: 30px;">Enter your age</label>
  <input type="number" name="age" id="age">
  <label for="gender" style="margin-top: 20px;">Gender</label>
  <div class="gender">
    <div class="male">
    <input type="radio" id="male" name="gender" value="0">
    <label for="male">Male</label>
    </div>
    <div class="female">
    <input type="radio" id="female" name="gender" value="1">
    <label for="female">Female</label>
  </div>
  </div>
  <label>Select your chest pain type</label>
  <select name="cp">
    <option value="1"> No pain </option>
    <option value="2"> Mild pain </option>
    <option value="3"> Moderate pain </option>
    <option value="4"> Heavy pain </option>
  </select>
  <br>

  <label>Resting Blood Pressure</label>
  <input type="number" name="trestbps">
  <br>
  <label>Cholestrol Level</label>
  <input type="number" name="chol">
  <br>
  <label>Fasting Blood Sugar</label>
  <input type="number" name="fasting_blood_sugar">
  <br>
  <label>Rest ECG</label>
  <select name="ecg">
    <option value="0"> 0</option>
    <option value="1"> 1</option>
    <option value="2"> 2</option>
    <option value="3"> 3</option>

  </select>
  <br>
  <label>Maximum Heart Rate Achieved</label>
  <input type="number" name="thalach">
  <br>
  <label>Exercise Induced Angina</label>
  <select name="exang">
    <option value="0"> 0</option>
    <option value="1"> 1</option>
  </select>
  <br>
  <label>Old Peak</label>
  <input type="number" name="oldpeak">
  <br>
  <label>The Slope of The Peak Exercise ST Segment</label>
  <input type="number" name="slope">
  <br>
  <label>Number of Major Vessels</label>
  <select name="ca">
    <option value="0"> 0</option>
    <option value="1"> 1</option>
    <option value="2"> 2</option>
    <option value="3"> 3</option>
  </select>
  <br>

  <label>THAL</label>
  <select name="thal">
    <option value="0"> 0</option>
    <option value="1"> 1</option>
    <option value="2"> 2</option>
    <option value="3"> 3</option>

  </select>
  <br>
  <input type="submit" value="Calculate">

</form></div>

</body>
</html>